<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>wilsojb</title>
    <link rel="icon" href="images/icon.jpg">
    <link rel="stylesheet" href="style.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="index.js"></script>
  </head>

  <body ng-app="personal">
    <div class="wrapper" ng-controller="landing">
      <header>
        <a href="" ng-click="transition('home')"><h1>wilsojb</h1></a>
        <p class="view"><a href="" ng-class="{'tab': !active['home'], 'tab-bold': active['home']}" ng-click="transition('home')">About</a></p>
        <p class="view"><a href="" ng-class="{'tab': !active['about'], 'tab-bold': active['about']}" ng-click="transition('about')">History</a></p>
        <p class="view"><a href="" ng-class="{'tab': !active['projects'], 'tab-bold': active['projects']}" ng-click="transition('projects')">Projects</a></p>
        <p class="view">
          <a target="_blank" href="http://twitter.com/wilsojb/" class="tab" id="twitter"><i class="fa fa-twitter"></i></a>
          <!-- <a target="_blank" href="http://instagram.com/wilsojb/" class="tab" id="instagram"><i class="fa fa-instagram"></i></a> -->
          <a target="_blank" href="http://github.com/wilsojb/" class="tab" id="github"><i class="fa fa-github"></i></a>
          <!-- <a target="_blank" href="https://www.facebook.com/wilsojb" class="tab" id="fb"><i class="fa fa-facebook"></i></a> -->
          <a target="_blank" href="http://stackoverflow.com/users/6552232/wilsojb" class="tab" id="stackoverflow" aria-hidden="true"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
        </p>    
        <p class="view">
          
          <a target="_blank" href="http://linkedin.com/in/wilsojb/" class="tab" id="linkedin"><i class="fa fa-linkedin"></i></a>
          <a target="_blank" href="https://angel.co/wilsojb" class="tab" id="angel"><i class="fa fa-angellist"></i></a>
          <!-- <a target="_blank" href="resume.html" class="tab" id="resume"><i class="fa fa-paperclip"></i></a> -->
        </p>
      </header>

      <section ng-show="show['home']">
        <img style="margin-bottom: 5%" ng-src="images/josh.jpeg"/>
        <p>
            Josh Wilson is an engineering manager based out of Little Rock, Arkansas.
        </p>

        <p>
            In 2018, Josh joined <a target="_blank" href="https://www.adaptivemgmt.com/">DataMonster</a> to help build their data ingestion
            capabilities and capacity. Come work with us! My team needs <a target="_blank" href="https://boards.greenhouse.io/adaptivemanagement">data engineers and analysts</a>!
        </p>

        <p>
            From 2016 to 2018, Josh worked at Enigma where he built data-intensive applications for fortune 50 
            enterprises. His role gradually shifted to building a team that integrated Enigma's data products across extremely diverse IT landscapes.
        </p>

        <p>
            In 2014 he founded DoubleDoss Labs, which focuses on product development, technology solutions, and operations for early stage startups and small businesses.
        </p>
        <p>
            From 2011 to 2015, Josh worked for Hudson River Trading where he helped build
            and operate a global trading system. Responsiblities ranged widely from internal tooling to DevOps to data visualizations. He even actively traded
            securities as a registered representative on the open markets.
        </p>
        <p>
            Josh holds a M.S. in Physics from the University of North Carolina in Chapel Hill, NC. There he researched computational and analytical solutions 
            to nonlinear PDEs and, more generally, scientific computing. Josh also holds a B.A. in Physics and Computer Science from Hendrix College in Conway, AR.
        </p>
        <p>
            Josh grew up in a house full of tools, ever-changing hobbies, and DIY attitudes that shaped how he approaches his work today.
        </p>
      </section>

      <section ng-show="show['about']">
        <p>
        <h3>DataMonster</h3>
        Engineering Manager<br>
        Senior Data Engineer<br>
        New York, NY &amp; Little Rock, AR<br>
        2018 - present<br>
        </p>

        <p>
        <h3>Enigma Technologies</h3>
        Engineering Manager<br>
        Data Engineer<br>
        New York, NY<br>
        2016 - 2018<br>
      </p>

      <p>
        <h3>General Assembly</h3>
        Data Science Graduate<br>
        New York, NY<br>
        2016<br>
      </p>

      <p>
        <h3>TripExpert</h3>
        Software Engineer (Mobile)<br>
        New York, NY<br>
        2015<br>
      </p>

      <p>
        <h3>DoubleDoss Labs</h3>
        Founder<br>
        New York, NY<br>
        2014 - present<br>
      </p>

      <p>
        <h3>Hudson River Trading</h3>
        TradeOps Developer<br>
        New York, NY<br>
        2011 - 2015<br>
      </p>

      <p>
        <h3>University of North Carolina</h3>
        Graduate Research Assistant<br>
        Chapel Hill, NC<br>
        2008 - 2010<br>
      </p>

      <p>
        <h3>Hendrix College</h3>
        Orientation Coordinator<br>
        Undergraduate Research Assistant<br>
        Conway, AR<br>
        2005 - 2008<br>
      </p>
      </section>

      <section ng-show="show['projects']" id="projects">

        <h3>Nicholas Barnes, MD</h3>
        <p>
            Nick runs a private practice and needed a way to get the word out. He was looking
            for a clean, simple design that would load quickly on any device or browser. So I 
            built him a site using <a target="_blank" href="https://gohugo.io/">Hugo</a> (my 
            new favorite static site generator!) and S3.
        </p>
        <p>
            <a target="_blank" href="http://nicholasbarnesmd.com/">
                <img ng-src="images/nick.jpg" />
            </a>
        </p>

        <br>
        <h3>S&amp;J Wedding Website #2</h3>
        <p>
            This time around the "S&amp;J" are my wife and I! This site's purpose was mostly to
            highlight my wife's amazing artwork and share some basic details about our big day. I was able
            to repurpose most of the code from #1. Why pay for a cookiecutter website builder when
            you can do it yourself for free?
        </p>
        <p>
            <a target="_blank" href="http://www.steph-and-josh.com">
                <img ng-src="images/wedding.png" />
            </a>
        </p>

        <br>
        <p class="icon-header">
          <a class="general-assembly" target="_blank" href="https://generalassemb.ly"></a>
        </p>
        <p>
          Unsupervised <a target="_blank" href="https://getpocket.com">pocket</a> article clustering that
          integrates with <a target="_blank" href="https://www.diffbot.com/">diffbot</a> for most of the
          data collection. The final project of an eleven week data science course I took at
           <a target="_blank" href="https://generalassemb.ly/education/data-science">general assembly</a>.
           All of the code can be found on
           <a target="_blank" href="https://github.com/wilsojb/getpocket-kmeans-clustering">github</a>.
        </p>
        <p>
          <img ng-src="images/cluster.png"/>
        </p>

        <br>
        <h3>S&amp;J Wedding Website #1</h3>
        <p>
          S&amp;J had some unique ideas in mind for their wedding website that generic wedding
          website builders could not do for them. I used a
          <a target="_blank" href="https://thinkster.io/mean-stack-tutorial">mean stack</a> and integrated
          <a target="_blank" href="https://auth0.com/">Auth0</a> on top of it to provide a
          custom login for each of their guests.
        </p>
        <p>
          <a target="_blank" href="http://www.sam-and-jillian.com"><img ng-src="images/sketch.jpg"/></a>
        </p>

        <br>
        <p class="icon-header">
          <a class="tripexpert" target="_blank" href="http://tripexpert.com"></a>
        </p>
        <p>
          A hybrid mobile app built using the best hybrid mobile tech available in early 2015
          (e.g. angular 1.x, ionic 1.0, flask, pouchdb). I'm doubtful if those would be
          the best choice today - mobile moves fast. Complemented
          <a href="http://tripexpert.com" target="_blank">www.tripexpert.com</a>.
          For iOS and Android.
        </p>

        <p>
          <img style="width: 30%; height: auto; padding-right: 1%" ng-src="images/te-splash.png"/>
          <img style="width: 30%; height: auto; padding-right: 1%" ng-src="images/te-dest.png"/>
          <img style="width: 30%; height: auto; padding-right: 1%" ng-src="images/te-side.png"/>

          <img style="width: 30%; height: auto; padding-right: 1%" ng-src="images/te-hotels.png"/>
          <img style="width: 30%; height: auto; padding-right: 1%" ng-src="images/te-venue.png"/>
          <img style="width: 30%; height: auto; padding-right: 1%" ng-src="images/te-map.png"/>
        </p>


        <br>
        <a target="_blank" href="http://snapsite.io"><h3 class="snapsite">snapsite.io</h3></a>
        <p>
          Simple static website deployment from the command line. An experiment that used Flask,
          Google App Engine, and Google Datastore. Mostly useless, except for sharing the ocassional
          <a target="_blank" href="https://github.com/hakimel/reveal.js">reveal.js</a> presentation.
        </p>
        <p>
          <a target="_blank" href="http://snapsite.io"><img ng-src="images/snapsite-thumbnail.png"/></a>
        </p>

        <br>
        <h3>Pdelab</h3>
        <p>
          An object oriented framework for solving and analyzing PDE that grew organically
          out of my <a href="thesis.html" target="_blank">graduate thesis</a>. The goal of the framework
          was to abstract away the mechanics so the researcher could spend more time focusing on
          solutions. The code can be found on <a target="_blank" href="http://wilsojb.io/pdelab">github</a>.
        </p>
        <p>
          <img ng-src="images/grad.png"/>
        </p>
      </section>

    </div>
  </body>
</html>
